@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
html{
    /* me permite deslizar cuando hago clic en los links del menu */
    scroll-behavior: smooth;
}
/*<!--Contenedor header -->*/
.contenedor-header{
    background: #0d012529;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor-header header{
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.contenedor-header header .logo a{
    display: inline;
    font-family: 'Righteous';
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    display: flex; /* Convertir el contenedor en un flexbox */
    align-items: center; /* Centrar verticalmente los elementos dentro del flexbox */
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
    font-size: 12px;
    margin: 0 10px;
    padding: 2px;
}
.contenedor-header header nav ul li a{
    text-align: left;
    color: #fff;
    margin: 0 10px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.contenedor-header header nav ul li a:hover{
    color:#f5ed54;
}

.conteiner{
    max-width: 1024px;
    padding: 20px;
    /* text-align: center; */
    margin: 0 auto; 
}

p{
    text-align: center;
}


.nav-responsive{
    background-color: #0078d4;
    color:#fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
/*<!--Contenedor header -->*/

/*<!--Submenu-->*//* Estilo para el menú principal */
.menu {
    list-style-type: none;
    padding: 0;
}

.menu > li {
    position: relative;
    display: inline-block;
}

.menu > li > a {
    display: block;
    padding: 15px 20px;
    color: #0078d4;
    text-decoration: none;
}

.menu li a:hover {
    color: #0078d4;
    transition: all .3s;
}

/* Estilo para los submenús */
.submenu {
    position: absolute;
    top: 100%; /* Aparece debajo del elemento padre */
    left: 0;
    background: #0078d4;
    padding: 30px;
    width: 150px; /* Ancho del submenú */
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
}

.submenu li {
    display: block;
}

.submenu li a {
    display: block;
    padding: 30px;
    color: #fff;
    text-decoration: none;
}

/* Mostrar el submenú al pasar el ratón sobre el elemento padre */
.menu li:hover .submenu {
    visibility: visible;
    opacity: 1;
}

.menu li:hover .texto{
    text-align: center ;
}

/* Estilo para los submenús internos */

.submenu.active {
    visibility: visible;
    opacity: 1;
}

@media only screen and (max-width: 768px) {
    .menu > li {
        display: block;
    }
    .submenu :active {
        background-color:#0078d4;
        padding: 10px;
        width: 200px; /* Ancho del submenú interno */
        position: absolute;
        top: 0;
        left: 100%; /* Aparece a la derecha del elemento padre */
        visibility: hidden;
        opacity: 5;
        transition: 0.5s;
    }

    .submenu {
        position: static;
        width: 200px;
        width: auto;
        visibility: visible;
        opacity: 1;
        padding: 0;
    }

    .submenu li {
        display: block;
        border-bottom: 1px solid #fff;
    }

    .submenu li:last-child {
        border-bottom: none;
    }
}

.titulo {
    text-align: center;
}

.texto {
    text-align: center;
}

/*<!--Submenu-->*/

/*<!--Submenu-->*/


/* SECCION I N I C I O */
.Inicio{
    background: rgb(16,80,207);
    background: radial-gradient(circle, rgba(16,80,207,1) 20%, rgba(5,151,231,1) 65%);
    background-size: cover;
    height: 75vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    /* max-width: 1024px; */
    right: 0;

}
.Inicio2{
    background: rgb(16,80,207);
    background: radial-gradient(circle, rgba(16,80,207,1) 20%, rgba(5,151,231,1) 65%);
    background-size: cover;
    height: 70vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

}

.Productos{
    background: rgb(16,80,207);
    background: radial-gradient(circle, rgba(16,80,207,1) 20%, rgba(5,151,231,1) 65%);
    color: #fff;
    padding: 50px 20px;
}

.Mas{
    background: rgb(16,80,207);
    background: radial-gradient(rgba(16,80,207,1) 20%, rgba(5,151,231,1) 65%);
    color: #fff;
    padding: 50px 20px;
}


/* SECCION I N I C I O */


/* Estilos para el contenedor centrado */
.centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta la altura a la ventana del navegador */
}
.contenedor-carrusel {
    overflow: hidden; /* Para ocultar cualquier contenido que se desborde */
    max-width: 800px; /* Ancho máximo del carrusel */
    margin: auto; /* Centra horizontalmente */
}

.slider {
    overflow: hidden;
    border-radius: 10px;
    border: none;
}

.slider ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 600%; /* Ancho total para contener todas las imágenes */
    animation: slide 15s infinite linear;
}

.slider ul li {
    width: 16.66%; /* Tamaño de cada imagen en el carrusel */
    float: left;
}

.slider ul li img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Ajusta la imagen para cubrir el tamaño del contenedor */
}

@keyframes slide {
    0% { margin-left: 0; }
    33.33% { margin-left: 0; }
    66.66% { margin-left: -100%; }
    100% { margin-left: -100%; }
}
/* Estilos para el contenedor centrado */

/*Texto H5*/
.texto {
    text-align: center; /* Alinea el texto al centro */
    max-width: 800px; /* Ancho máximo del texto */
    padding: 0 20px; /* Añade un poco de espacio a los lados */
}
/*Texto H5*/




















/*Footer*/
footer{
    background-color: #252A2E;
    color: #fff;
    padding: 10px 0 25px 0;
    text-align: center;
    position: relative;
    max-height: max-content;
    width: 100%;
}
footer .redes{
    margin-bottom: 20px;
}
footer .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #1c4fb6; 
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}
/*Footer*/

@media screen and (max-width: 768px) {
    .nav-responsive {
        display: block;
    }

    #nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0; /* Alinear con el borde derecho de la pantalla */
        width: 30%; /* Limitar el ancho del menú desplegable */
        max-width: 300px; /* Establecer un ancho máximo */
        background-color:  #0078d4;
        text-align: center;
        padding: -10px, 0px ;
    }

    #nav ul.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #nav ul ul {
        display: none;
        background-color: #0078d4;
        padding: 10px 0;
    }

    #nav ul ul.active {
        display: block;
        position: static;
        width: 100%;
    }

    #nav ul li {
        margin: 10px 0;
        list-style: none;
        position: relative;
    }

    #nav ul li:hover > ul {
        display: block;
        position: static;
        width: 100%;
    }

    .nav-responsive i {
        cursor: pointer;
    }
}



/*Productos*/
.Productos{
    background: rgb(16,80,207);
    background: radial-gradient(circle, rgba(16,80,207,1) 20%, rgba(5,151,231,1) 65%);
    color: #fff;
    padding: 50px 20px;

}
.Productos .container {
    padding: 20px;
    max-width: 900px;
    margin: 50px auto 0; /* Aumenta el margen superior para separar más la sección de productos del encabezado */
}

.Productos h2 {
    text-align: center;
    margin-bottom: 20px;
}

.productos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.producto {
    background: linear-gradient(-45deg, #ff6a00, #ee0979, #ff6a00, #ee0979);
    background-size: 400% 400%;
    animation: wave 10s infinite alternate;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px; /* Ajusta según sea necesario */
}

@keyframes wave {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
.producto img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.producto h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.producto p {
    margin-bottom: 10px;
}

.producto .precio {
    font-weight: bold;
    color: #0078d4;
}
button:hover{
    color:#0e36ebfd;
}

.precio-original {
    color: #888;
    text-decoration: line-through;
}

.precio-descuento {
    color: #f00;
    font-weight: bold;
}



.frame {
    display: inline-block;
    border: 5px solid #fff;
    padding: 10px;
}

.gallery {
    display: flex;
    flex-wrap: nowrap; /* Asegura que las imágenes no se envuelvan */
    overflow-x: auto; /* Permite desplazamiento horizontal */
    gap: 10px; /* Espacio entre imágenes */
}

.gallery img {
    max-width: 100%;
    max-height: calc(100vh - 40px); /* Altura máxima del frame */
    cursor: pointer;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.1);
}
